@import '../../setting';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  height: 50px;
  font-family: 'Roboto';
  background: #e5e5e5;

  &--menu {
    position: relative;
    margin-left: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

    & button {
      cursor: pointer;
      border-radius: 6px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;

      & svg {
        fill: #7b809a;
        transform: scale(1.25);
      }

      &:hover {
        background: $primary-color;

        & svg {
          fill: #ffffff;
        }
      }
    }
  }

  &--search {
    & input {
      padding: 10px;
      border: 1px solid $secondary-color;
      border-radius: 8px;
      font-family: 'Roboto';
      margin-right: 20px;

      &:focus {
        outline: none;
        background: $input-focus-color;
      }
    }
  }

  &--feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    & svg {
      fill: $secondary-color;
      transform: scale(1.25);
      cursor: pointer;
      padding: 0 5px;
      margin: 0 2px;

      &:hover {
        fill: $primary-color;
        transform: scale(1.5);
      }
    }
  }
}

.show-side-bar {
  .nav--menu {
    left: 270px;
  }
}
